* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* header part design
navbar design */
.nav-container {
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding: 24px 200px;
    border-bottom: 1px solid #412567;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.company-logo img {
    width: 219px;
    height: 32px;
}

.nav-container li {
    list-style-type: none;

}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-container li a {
    text-decoration: none;
    color: white;
}


.nav-container .nav-sub-btn button {
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

/* hero section design */

.hero-section {
    max-width: 1600px;
    min-height: 760px;
    margin: 0 auto;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 101px 525px;
}

.hero-content {
    width: 550px;
    height: 558px;
    margin: 0 auto;
    /* background-color: red; */
}

.hero-content .circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('./assets/hero-circle.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.new-icon {
    position: fixed;
    right: 40.7916%;
    top: 20.19791%;
}

.hero-content .hero-subs-section h2 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.hero-content .hero-subs-section p {
    color: white;
    font-size: 16px;
    text-align: center;
}

.hero-btn {
    margin-top: 24px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.hero-btn .btn-one {
    width: 201px;
    height: 44px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.hero-btn .btn-one .btnone-text {
    font-weight: 600;
    color: white;
    letter-spacing: 1.33px;
}

.hero-btn .btn-one .spotify-icon {
    margin-top: 2px;
}

.hero-btn .btn-two {
    width: 147px;
    height: 44px;
    border: none;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 100px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.hero-btn .btn-two .btntwo-text {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    letter-spacing: 0.2px;
}

.hero-btn .btn-two .msg-icon {
    margin-top: 3px;
}