* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* header part design
navbar design */
.nav-container {
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding: 1.5rem 12.5rem;
    border-bottom: 1px solid #412567;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.company-logo img {
    width: 219px;
    height: 32px;
}

.nav-container li {
    list-style-type: none;

}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-container li a {
    text-decoration: none;
    color: white;
}


.nav-container .nav-sub-btn button {
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.hamburger-icon {
    display: none;
}

/* hero section design */

.hero-section {
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 101px 525px;
}

.hero-content {
    max-width: 550px;
    margin: 0 auto;

}

.hero-content .circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.new-icon {
    position: absolute;
    right: 40.7916%;
    top: 20.19791%;
}

.hero-content .hero-subs-section h2 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.hero-content .hero-subs-section p {
    color: white;
    font-size: 16px;
    text-align: center;
    opacity: 80%;
}

.hero-btn {
    margin-top: 24px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.hero-btn .btn-one {
    width: 201px;
    height: 44px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.hero-btn .btn-one .btnone-text {
    font-weight: 600;
    color: white;
    letter-spacing: 1.33px;
}

.hero-btn .btn-one .spotify-icon {
    margin-top: 2px;
}

.hero-btn .btn-two {
    width: 147px;
    height: 44px;
    border: none;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 100px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.hero-btn .btn-two .btntwo-text {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    letter-spacing: 0.2px;
}

.hero-btn .btn-two .msg-icon {
    margin-top: 3px;
}

/* about section design */
.about-container {
    max-width: 1600px;
    padding: 50px 200px 120px 200px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.about-container .about-text {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.about-container .about-text h2,
.about-container .about-text p {
    text-align: center;
    color: white;
}

.about-container .about-text h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-container .about-text p {
    line-height: 32px;
    color: white;
    opacity: 80%;
}

.hr-two {
    border: 1px solid white;
    opacity: 10%;
    margin-bottom: 80px;
}

.about-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-cards div {
    width: 240px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-cards h2 {
    font-size: 48px;
    text-align: center;
    color: #00FF88;
    margin-bottom: 1px;
}

.about-cards p {
    font-size: 16px;
    text-align: center;
    color: white;
    opacity: 80%;
}

.about-cards .card-three h2 {
    margin-top: -7px;
    letter-spacing: 5px;
}

/* why choose section design */

.facilities-container {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
    padding: 120px 200px;
}

.facilities-container .facilities-heading {
    width: 1200px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.facilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 225px 225px 273px;
    gap: 30px;

}

.facilities div {
    padding: 107.5px 40px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.facilities div img {
    width: 60px;
    height: 60px;
}

.facilities div h3 {
    color: white;
    font-size: 24px;
    font-weight: 700;

}

.facilities div p {
    color: white;
    opacity: 80%;
    font-size: 16px;
}

.facilities .fac-two img {
    width: 48px;
    height: 60px;
}

.facilities .fac-one {
    grid-row: 1/3;
}

.facilities .fac-two,
.facilities .fac-three {
    grid-column: 2/4;
}

.facilities .fac-four {
    grid-column: 1/3;
}

/* feature and meet the host section design */


.feature-meet-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    background-color: #1A0B2E;
}

.feature-meet-container .feature {
    width: 1200px;
}

.feature-meet-container .feature>h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;

}

.feature {
    margin-bottom: 120px;
}

.feature .feature-cards {
    display: flex;
    gap: 30px;
}

.feature .feature-cards .card {
    width: 380px;
    border-radius: 24px;
    background-color: #250D44;
}

.feature .feature-cards .card iframe {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

.feature .feature-cards .card iframe {
    width: 100%;
    height: 214px;
}

.feature .feature-card-one {
    padding: 24px;
}

.feature .feature-card-one h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature .feature-card-one p {
    color: white;
    font-size: 16px;
    opacity: 60%;
    margin-bottom: 12px;
}

.feature .feature-card-one .time span {
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}

.feature .feature-card-one .time img {
    width: 20px;
    height: 20px;
}

.feature .feature-card-one .time {
    display: flex;
    gap: 6px;
}

/* meet the host part design */

.meet-host {
    width: 1200px;
}

.meet-host>h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.host-profile {
    /* height: 280px; */
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.host-profile img {
    width: 200px;
    height: 200px;
}

.host-profile .host-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.host-profile h2 {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.host-profile p {
    color: white;
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
}

.host-social ul {
    display: flex;
    gap: 8px;
}

.host-social ul li {
    list-style-type: none;
}

.host-social ul li a {
    text-decoration: none;
}

.host-social ul li a img {
    width: 40px;
    height: 40px;
}


/* footer design */

footer {
    max-width: 1600px;
    height: 412px;
    margin: 0 auto;
    padding: 120px;
    background-image: url('./assets/footer-bg.png');
}

footer .footer-content {
    width: 1360px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

footer .footer-content>img {
    width: 410px;
    height: 60px;

}

footer .footer-content .footer-social {
    height: 24px;
    color: white;
    display: flex;
    gap: 40px;
}

footer .footer-content .footer-social div span {
    color: white;
    opacity: 60%;
}

footer .footer-content .footer-social div {
    display: flex;
    gap: 8px;
    align-items: center;
}

footer .copy-right {
    color: white;
    opacity: 60%;
}

.hide {
    display: none !important;
}

/* responsive design  */

@media screen and (max-width: 576px) {
    .nav-container {
        width: 100%;
        padding: 20px;
    }

    .nav-list,
    .nav-sub-btn {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-icon img {
        width: 30px;
        height: 20px;
    }

    /* hero section design */

    .hero-section {
        max-width: 100%;
        height: 510px;
        background-image: url(./assets/hero-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px 20px;
    }

    .hero-content .circle {
        width: 200px;
        height: 200px;

    }

    .hero-content .circle img {
        width: 100%;
    }

    .hero-subs-section h2 {
        font-size: 40px;
        font-weight: 800;
    }

    /* about section design */

    .about-container {
        max-width: 100%;
        padding: 40px 20px;
    }

    .about-container .about-text {
        max-width: 100%;
    }

    .about-cards {
        width: 100%;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
    }

    .about-cards div {
        width: 180px;
    }

    .about-cards h2 {
        font: 40px;
    }

    /* facilities section design */
    .facilities-container {
        max-width: 100%;
        margin: 0 auto;
        background-color: #230E3D;
        padding: 40px 20px;
    }

    .facilities-container .facilities-heading {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .facilities {
        margin-top: -40px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
    }

    .facilities div {
        width: 100%;
        padding: 24px;
        border-radius: 24px;
    }

    /* feature part design  */
    .feature-meet-container {
        width: 100%;
        padding: 40px 20px;
    }

    .feature-meet-container .feature {
        width: 100%;
    }

    .feature-meet-container .feature>h2 {
        font-size: 32px;
        font-weight: 700;
    }

    .feature .feature-cards {
        flex-direction: column;
    }

    .feature .feature-cards .card {
        width: 100%;

    }

    .feature .feature-cards .card h2 {
        font-size: 20px;
        font-weight: 700;
    }

    .feature {
        margin-bottom: 60px;
    }

    /* meet the host part desing  */

    .meet-host {
        width: 100%;

    }

    .meet-host>h2 {
        font-size: 32px;
        font-weight: 700;
    }

    .host-profile h2 {
        font-size: 24px;
        font-weight: 700;
    }

    .host-profile {
        padding: 24px;
        display: flex;
        flex-direction: column;

    }

    .host-profile .host-content {
        align-items: center;
    }

    .host-profile .host-content p {
        text-align: center;
    }

}